{% extends "navbar.html" %}
{% block content %}
<h1> NOB Article </h1>

<p>Click on the PDF logo to download the article:<p>

<a href="Bokeh/ExampleData/DHF[NOB].pdf" download>
  <img src="static/images/adobe-pdf-icon.png" alt="NOB" width="104" height="142">
</a>

{% endblock %}