{% extends "navbar.html" %}
{% block content %}

{#Group image#}

    <img src="static\images\AboutUsImage.png" alt="Group Picture" class="uk-align-center">

    <p> <div style="text-align: center;"> This project consists of 5 team members who will also be their own test subjects.
        These members are all part of the Hanzehogeschool Master of Data Science for Life Sciences study program.
        The team consists of Demy van de Veen, Yagmur Dogay, Iwan Hidding, Sylt Schuurmans, and Elibeth Alberts.
        This project was supervised by Martijn Herber, Marcel Kempenaar and Bryan Williams.
     </div> <p>


<address>

    <div >
    <a href="https://bitbucket.org/%7Bd7204c2f-64c6-4efa-b34c-41e9d1edb0d4%7D/">
        <img src="static/images/BitBucket.PNG" alt="NOB Bit Bucket" width="104" height="142" class="uk-align-center">
    </a><br>


</address>
{% endblock %}