<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit_updated.min.css') }}" />
        <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/Sleeptools.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bokeh.min.js') }}"></script>
    </head>