{% extends "navbar.html" %}
{% block content %}


<!--The layout was created using flexboxes with a muted background color and a margin around the flexboxes. -->
<div class = "uk-background muted">
<div class="uk-flex uk-margin-top">
    <div class="uk-width-1-1 uk-card uk-card-default uk-card-body uk-card-medium"><h2>Welcome to the web application of NOB sleep research!</h2>
As students, there are many challenges that can ultimately influence different aspects of their lives. The sleeping pattern for students can have a big impact on their test results. The challenge is not only being able to wake up on time, but also to feel better and to be productive upon waking up. It is known that there are many wake-up assistances in the market. However, having these many options can make it difficult to choose which ones are more suitable in order to help with our quality of sleep. Additionally, many of these products have been tested individually to see whether there was any improvement or not. However, not many have been tested against each other. Do these products have an actual influence on the sleeping quality or is the traditional alarm clock good enough?
</div>

 </div>
<div class="uk-margin uk-flex uk-flex-left">
<div class = "uk-width-2-3 uk-card uk-card-default uk-card-body uk-card-medium">

<!--    Put the boxplots into the html page-->
{{ script|safe }}
{{ div|safe }}
</div>
    <div class="uk-width-1-3 uk-card uk-card-default uk-card-body uk-card-medium uk-height-large">

        <h4>Description Barplots</h4>
        <h6>In this project the normal alarm clock, the Philips wake-up light HF3506/05, the Sleep Cycle app and Fitbit's silent alarm were compared
        The participants performed a cognitive function test, the Karolinska sleepiness scale test and a mood test 5 and 30 minutes after the alarm time.
        On this page two barplots are shown. The first plot shows the mean cognitive function, sleepiness and mood result 5 minutes after the alarm time and second plot shows the mean results 30 minutes after the alarm time.
        </h6></div>
</div>
</div>


{% endblock %}