<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}
<body>



 <div id="content_wrapper" class="uk-container uk-container-center uk-margin-small-top uk-margin-large-bottom">

<nav class="uk-background-secondary uk-light" uk-navbar uk-margin>
            <div class="uk-navbar-left">
                <a class="uk-navbar-brand" href="{{ url_for('index') }}"><img class="uk-margin uk-margin-remove" src="static/images/NOB21.PNG" width="200" height="150"></a>
                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('article') }}">Article</a></li>
                    <li><a href="{{ url_for('research') }}">Our research</a></li>
                    <li><a href="{{ url_for('contact') }}">Contact</a></li>

                </ul>
            </div>
        </nav>

    <div class="container" uk-margin>

      {% block content %}
      {% endblock %}
    </div>
 </div>
</body>
</html>
