{% extends "navbar.html" %}
{% block content %}

<div class="uk-flex uk-margin-top">
    <div class="uk-width-1-1 uk-margin uk-card uk-card-default uk-card-body uk-card-medium"><h3>In depth scatterplot</h3>
        The experiment was done over the course of 7 weeks by 4 participants going through 4 methods.
        The Fitbit silent alarm had limited use where both time constrains and its function were factors.
        Participants performed cognitive function tests(reaction time test, math test) and filled in mood and sleepiness questionnaires below, this data is visualized in scatterplots.
        These scatterplots contain the data of all participants of the experiment. Options are available to pick which test results are plotted for which participant. Click on a point of interest to see the additional data for that night. A trendline is shown in black to indicate the direction of the spread. The circles with black edges are the measurements after 30 minutes.

    </div>

    </div>

<!--Buttons to select a participant and feature, when the submit button is clicked, the scatter plot is generated-->
<div class="uk-width-1-1 uk-card uk-card-default uk-card-body uk-card-medium">
<form action="/research">
    <select name="feature_name">
        {% for feature in feature_names %}
            {% if feature == current_feature_name %}
                <option selected value="{{ feature }}">{{ feature }}</option>
            {% else %}
                <option value="{{ feature }}">{{ feature }}</option>
            {% endif %}
        {% endfor %}
    </select>
    <select name="feature_participant">
        {% for feature in feature_participant %}
            {% if feature == current_feature_participant %}
                <option selected value="{{ feature }}">{{ feature }}</option>
            {% else %}
                <option value="{{ feature }}">{{ feature }}</option>
            {% endif %}
        {% endfor %}
    </select>
<input type="submit" value="Submit">

</form>

<!--When you click on a data point in the scatterplot, a gridplot of the corresponding sleep and raspberry pi data is -->
<!--generated next to the scatterplot-->
<div class="uk-flex uk-flex-left">

    {{ script|safe }}
    {{ div|safe }}
    <div id="bokeh-sleep1-plot"></div>
</div>
</div>
</div>
{% endblock %}

